html, body {
	margin: 0px;
	padding: 0px;
	background: #ffffff;
}

img {
	/*-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;*/
	margin: 0px;
	padding: 0px;
}

.div_spacer_class {
	clear: both;
}

#div_header {
	height: 50px;
	margin-bottom: 50px;
	background: #E1E7ED;
	/*border-bottom: #222940 2px solid;*/
}

#div_content {
	width: 780px;
	margin: 0 auto;
}

.div_curtain_class {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 10;
	background: #ffffff;
	opacity: 0.2;
}

.div_popWindow_class {
	display: none;
	position: fixed;
	width: 200px;
	height: 110px;
	z-index: 11;
	text-align: center;
	padding-top: 20px;
	background: #BBC7D3;
}

.input_popWindow_class {
	width: 126px;
	height: 32px;
	padding: 5px;
	font-family: "Segoe UI";
	font-size: 18px;
	color: #141313;
	margin-bottom: 10px;
}

.button_popWindow_class {
	width: 136px;
	height: 42px;
	border: none;
	background: #597DA3;
	color: #fcfcf4;
	font-family: "Segoe UI Semibold";
	font-size: 18px;
	cursor: pointer;
}

/******************mainMenu**************/

#div_mainMenu {
	width: 780px;
	margin: 0 auto;
}

#div_mainMenuLeft {
	float: left;
}

#div_mainMenuRight {
	float: right;
}

.button_mainMenuLeft_class {
	cursor: pointer;
	background: #BBC7D3;
	border: none;
	height: 50px;
	color: #ffffff;
	font-family: "Segoe UI";
	font-size: 18px;
	margin-right: 10px;
}

.button_mainMenuLeft_class:hover {
	background: #597DA3;
}

.button_mainMenuRight_class {
	cursor: pointer;
	background: #BBC7D3;
	border: none;
	height: 50px;
	color: #ffffff;
	font-family: "Segoe UI";
	font-size: 18px;
	margin-left: 10px;
}

.button_mainMenuRight_class:hover {
	background: #597DA3;
}

/****************character*******************/

#div_character {
	float: left;
	width: 261px;
	color: transparent;
	padding: 0px 24px 0px 25px;
}

#div_character > div {
	position: absolute;
	margin-top: 100px;
}

#div_characterEye {
	z-index: 6;
	background: #597DA3;
	border-color: #ffffff;
	border-style: solid;
}

#div_characterBody {
	z-index: 5;
	background: #597DA3;
	-moz-box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05) inset;
	-o-box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.05) inset;
}

#div_characterWing {
	z-index: 6;
	background: #001E2D;
}

#div_characterBeakUp {
	z-index: 7;
	background: #F05320;
}

#div_characterBeakDown {
	z-index: 7;
	background: #EC2B22;
}

/**************question*********************/

#div_questions {
	float: left;
	width: 320px;
}

.div_question_class {
	width: 300px;
	background: transparent;
	margin-bottom: 20px;
}

.div_questionLeft_class {
	width: 300px;
	background: #BBC7D3;
	float: left;
}

.div_questionRight_class {
	width: 0px;
	float: left;
}

.div_questionText_class {
	float: left;
	font-family: "Segoe UI";
	font-size: 18px;
	color: #ffffff;
	width: 170px;
	margin: 10px 5px 5px 10px;
	overflow: hidden;
}

.div_questionOptions_class {
	float: left;
	width: 100px;
	margin: 10px 10px 5px 5px;
}

.div_questionArrow_class {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #BBC7D3;
}

.button_questionOption_class {
	font-family: "Segoe UI Semibold";
	font-size: 15px;
	display: block;
	cursor: pointer;
	color: #ffffff;
	background: #597DA3;
	border: none;
	padding: 5px;
	margin-bottom: 5px;
	width: 100px;
	/*-moz-box-shadow: 0px 0px 10px 0px #fcfcf4;
 	-webkit-box-shadow: 0px 0px 10px 0px #fcfcf4;
	box-shadow: 0px 0px 10px 0px #FCFCF4;*/
}

.button_questionOption_class:hover {
	/*-moz-box-shadow: 0px 0px 10px 3px #FCFCF4;
	-webkit-box-shadow: 0px 0px 10px 3px #FCFCF4;
	box-shadow: 0px 0px 10px 3px #FCFCF4;*/
}

/**************answer*********************/

#div_answers {
	float: left;
	width: 150px;
}

.div_answer_class {
	width: 150px;
	background: transparent;
	margin-bottom: 20px;
	cursor: pointer;
}

.div_answerLeft_class {
	width: 20px;
	float: left;
}

.div_answerRight_class {
	width: 130px;
	background: #597DA3;
	float: left;
}

.div_answerText_class {
	font-family: "Segoe UI Semibold";
	font-size: 24px;
	line-height: 60px;
	color: #ffffff;
	width: 130px;
	text-align: center;
}

.div_answerArrow_class {
	width: 0; 
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #597DA3;
}

.button_answerOption_class {
	font-family: "Segoe UI Semibold";
	font-size: 15px;
	display: block;
	cursor: pointer;
	color: #FCFCF4;
	background: #F79327;
	border: none;
	padding: 5px;
	margin-bottom: 5px;
	width: 100px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-box-shadow: 0px 0px 10px 0px #ffffff;
 	-webkit-box-shadow: 0px 0px 10px 0px #ffffff;
	box-shadow: 0px 0px 10px 0px #FCFCF4;
}

.button_answerOption_class:hover {
	-moz-box-shadow: 0px 0px 10px 3px #FCFCF4;
	-webkit-box-shadow: 0px 0px 10px 3px #FCFCF4;
	box-shadow: 0px 0px 10px 3px #FCFCF4;
}
